@use "../../styles/abstracts/variables" as *;

.flow-page-main {
    display: flex;
    flex-direction: column;
    font-family: $primary-font;
    color: $font-color;

    .flow-page-main-row {
        display: flex;
        flex-direction: row;
        padding: 15px;
        transform: translate(110px, 0px);
        width: calc(100% - 110px);
        gap: 15px;
        justify-content: center;

        .all-companies-column {
            display: flex;
            flex-direction: column;
            width: 77%;
            gap: 20px;

            .social-media-and-connections {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 5px;
                max-height: 1000px;
                overflow: auto;

                .firstpage-social-media-header {
                    font-weight: 400;
                    font-size: 24px;
                }

                .social-media-logo-div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: space-evenly;

                    .social-media-a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 33%;
                        gap: 10px;
                        height: 180px;
                        border: 1px solid $border-color;
                        border-radius: 5px;
                        padding: 10px;

                        .social-img-p {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            text-align: center;
                            width: 100%;
                            align-items: center;
                            border-bottom: 1px solid $border-color;

                            .social-media-logo {
                                width: 60px;
                                height: 60px;
                            }

                            .social-media-title {
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .all-companies-page-title {
                font-size: 30px;
                font-weight: 400;
                padding: 10px;
            }

            .flow-page-row {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                padding: 20px;
                border: 1px solid $border-color;
                border-radius: 5px;

                .all-companies-page-company-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    padding: 12px;
                    border-radius: 5px;
                    border: 1px solid $border-color;
                    cursor: pointer;
                    transition: all 0.2s;

                    &:hover {
                        background-color: darken($background-color, 10%);
                    }

                    .company-hub-header {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .company-hub-one-logo {
                        width: 110px;

                        border-radius: 5%;
                    }
                }
            }
        }

        .flow-page-main-column {
            display: flex;
            flex-direction: column;
            width: 20%;

            .flow-page-title {
                font-size: 40px;
                font-weight: 400;
                margin: 20px;
                text-align: left;
                width: fit-content;
            }

            .flow-descriptions {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                font-size: 18px;
                border-radius: 5px;
                border: 1px solid $border-color;
                padding: 10px;
                max-height: 800px;
                overflow-y: auto;

                .flow-desc-subheader {
                    font-size: 24px;
                    font-weight: 400;
                    padding: 5px;
                }

                .flow-desc-paragraph {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 300;
                    gap: 10px;
                    border-radius: 5px;
                    border: 1px solid $border-color;

                    .flow-desc-p-bold {
                        font-weight: 400;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .flow-page-main {
        .flow-page-main-row {
            transform: translate(60px, 0px);
            width: calc(100% - 60px);

            .all-companies-column {
                width: 100%;

                .social-media-and-connections {
                    max-height: none;
                    padding: 10px;
                }

                .flow-page-row {
                    justify-content: center;
                    gap: 10px;
                    padding: 10px;

                    .all-companies-page-company-card {
                        .company-hub-header {
                            font-size: 20px;
                            width: 100px;
                            word-break: break-word;
                        }

                        .company-hub-one-logo {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .flow-page-main {
        .flow-page-main-row {
            flex-direction: column;

            .all-companies-column {
                .all-companies-page-title {
                    font-size: 30px;
                }

                .flow-page-row {
                    .all-companies-page-company-card {
                        gap: 10px;
                        padding: 10px;

                        .company-hub-header {
                            font-size: 16px;
                        }
                    }
                }
            }

            .flow-page-main-column {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .flow-page-main {
        .flow-page-main-row {
            .flow-page-main-column {
                .flow-page-title {
                    font-size: 32px;
                    margin: 10px;
                }
            }

            .all-companies-column {

                .social-media-and-connections {
                    .social-media-logo-div {
                        .social-media-a {
                            max-height: 300px;
                            overflow-y: auto;

                            .social-img-p {
                                .social-media-logo {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }

                .flow-page-row {
                    .all-companies-page-company-card {
                        width: 45%;

                        .company-hub-one-logo {
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
            }

            .flow-descriptions {
                padding: 5px;
                gap: 5px;

                .flow-desc-subheader {
                    font-size: 20px;
                }

                .flow-desc-paragraph {
                    padding: 5px;
                    gap: 5px;
                    font-size: 12px;
                }
            }


        }
    }
}