@use "../../styles/abstracts/variables" as *;

.company-grid-sidebar {
    display: flex;
    width: 17%;
    padding: 15px;
    background-color: $background-color;
    margin-left: 20px;
    border: 1px solid $border-color;
    border-radius: 15px;
    font-family: $primary-font;
    color: $font-color;

    ul {
        width: 100%;
        list-style-type: none;
        padding: 0;

        .job-titles-for-workersPage {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
            gap: 10px;
            padding: 10px;
            padding-left: 30px;
            background-color: $background-color;
            text-align: left;
            cursor: pointer;
            font-weight: 300;
            border-radius: 0px;
            transition: all 0.2s;

            .job-titles-for-title-name {
                font-size: 18px;
                font-weight: 400;
            }

            .trash-icon {
                top: 8px;
                left: 5px;
                width: 20px;
                height: 24px;
                cursor: pointer;
                display: none;
                opacity: 0.5;

                &:hover {
                    opacity: 0.8;
                }
            }

            &:hover {
                background-color: darken($background-color, 10%);
            }
        }

        .job-titles-for-workersPage:hover .trash-icon {
            display: block;
        }

        .job-titles-for-workersPage.active {
            background-color: darken($background-color, 10%);
        }
    }
}

@media screen and (max-width: 1250px) {
    .company-grid-sidebar {
        width: 100%;

        ul {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;

            .job-titles-for-workersPage {
                margin: 0px;
                padding: 5px;
                border: 1px solid $border-color;
                border-radius: 5px;

                .job-titles-for-title-name {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}