@use "../../styles/abstracts/variables" as *;

.company-name-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    background-color: $background-color;
    font-family: "Barlow", sans-serif;
    color: $font-color;

    .company-name {
        font-size: 40px;
        font-weight: 400;
        padding: 12px 30px;
        border: none;
        border-radius: 15px;
    }
}

@media screen and (max-width: 600px) {
    .company-name-main {
        padding: 20px;

        .company-name {
            font-size: 30px;
        }
    }
}