@use "../../styles/abstracts/variables" as *;

.company-name-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .company-name {
        font-size: 40px;
        font-weight: 400;
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
    }

    .company-search {
        width: 300px;
        height: 40px;
        margin-right: 40px;
        border-radius: 5px;
        border: 1px solid $border-color;
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    .company-name-main {
        padding: 5px;

        .company-name {
            font-size: 24px;
            padding: 5px 5px 5px 10px;
        }

        .company-search {
            width: 100px;
            height: 30px;
            margin-right: 10px;
            padding: 5px;
        }
    }
}