@use "../../styles/abstracts/variables" as *;

.group-edit-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .group-edit-modal-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $background-color;
        padding: 20px;
        border-radius: 15px;
        position: relative;
        text-align: center;
        width: 400px;
        height: 240px;

        .group-edit-modal-span {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            font-size: 30px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $border-color;
            width: 40px;
            height: 40px;
            top: 10px;
            right: 10px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: $grey;
            }
        }

        .group-edit-modal-header {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .group-edit-modal-inputs {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .group-edit-label {
                font-weight: 400;
                margin-bottom: 10px;
            }

            .group-edit-input {
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 5px;
                font-size: 16px;
            }
        }

        .group-edit-modal-buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            gap: 20px;

            .group-edit-modal-button-cancel,
            .group-edit-modal-button-confirm {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.2s;
            }

            .group-edit-modal-button-confirm {
                &:hover {
                    background-color: darken($blue, 10%);
                    color: white;
                }
            }

            .group-edit-modal-button-cancel {
                &:hover {
                    background-color: darken($close, 10%);
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .group-edit-modal {
        .group-edit-modal-content {
            width: 300px;
            height: 200px;

            .group-edit-modal-span {
                width: 30px;
                height: 30px;
                top: 10px;
                right: 10px;
            }

            .group-edit-modal-inputs {
                .group-edit-label {
                    font-size: 16px;
                }
            }

            .group-edit-modal-inputs {
                .group-edit-input {
                    width: 100%;
                    height: 40px;
                }
            }

            .group-edit-modal-header {
                font-size: 20px;
            }
        }
    }
}