@use "../../styles/abstracts/variables" as *;

.adduser-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .adduser-modal-content {
        background-color: $background-color;
        padding: 30px;
        border-radius: 8px;
        overflow: auto;
        position: relative;
        text-align: center;
        width: 300px;

        .adduser-modal-ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .adduser-modal-li {

                display: flex;

                .adduser-modal-label {

                    .adduser-modal-input {
                        width: 35px;
                        height: 25px;
                    }
                }
            }
        }

        .adduser-modal-content-header {
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 500;
        }

        .adduser-modal-close {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 200;
            font-size: 40px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $border-color;
            width: 40px;
            height: 40px;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &:hover {
                background-color: $grey;
            }
        }

        .adduser-btn-div-for-modal {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            gap: 20px;

            .adduser-btn-div-for-modal-submit,
            .adduser-btn-div-for-modal-cancel {
                padding: 10px 20px;
                border: 1px solid $border-color;
                border-radius: 5px;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}