@use "../../styles/abstracts/variables" as *;

.file-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .file-modal-content {
        background-color: $background-color;
        padding: 30px;
        border-radius: 15px;
        position: relative;
        text-align: center;
        align-items: center;

        .file-close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        .file-modal-header {
            font-size: 28px;
            font-weight: 400;
        }

        .file-icon-modal {
            width: 200px;
        }

        .file-buttons-for-modal {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
            text-align: center;

            .file-download-button,
            .file-delete-button {
                display: flex;
                align-items: center;
                border-radius: 5px;
                border: 1px solid $border-color;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}