@use "../../../styles/abstracts/variables" as *;

.material-calendar {

    .material-calendar-subheader {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .calendar {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .calendar-day {
            width: 85px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            cursor: pointer;
            transition: all 0.2s;

            &.selected {
                background-color: gold;
            }
        }
    }
}