@use "../../styles/abstracts/variables" as *;

.employee-card-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .employee-card-modal-inner {
        background-color: $background-color;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 420px;
        height: 400px;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        gap: 10px;
        border-radius: 20px;

        .employee-card-modal-profile-pic {
            width: 150px;
            height: 150px;

            .employee-card-modal-profile-pic-inner {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .employee-card-modal-username {
            font-size: 20px;
            font-weight: 400;
        }

        .employee-card-modal-email {
            font-size: 16px;
            font-weight: 300;
        }

        .employee-card-modal-professionname {
            font-size: 16px;
            font-weight: 300;
        }

        .employee-card-selected-employee-buttons {
            display: flex;
            gap: 10px;

            .employee-card-send-email-btn,
            .employee-card-send-private-message {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px;
                border-radius: 5px;
                transition: all 0.3s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }

        .employee-card-modal-close-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            font-size: 30px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $border-color;
            width: 40px;
            height: 40px;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &:hover {
                background-color: $grey;
            }
        }
    }
}