@use "../../styles/abstracts/variables" as *;

.admin-panel-main {
    display: flex;
    flex-direction: row;

    .admin-content {
        display: flex;
        flex-direction: row;
        transform: translate(110px, 0px);
        width: calc(100% - 110px);
    }
}

// buradan sonrasını görmüyor
@media screen and (max-width: 950px) {
    .admin-panel-main {
        flex-direction: column;

        .admin-content {

            transform: translate(60px, 0px);
            width: calc(100% - 60px);
        }
    }
}