@use "../../styles/abstracts/variables" as *;

.admin-panel-main {
    display: flex;
    flex-direction: row;

    .admin-content {
        display: flex;
        flex-direction: row;
        transform: translate(110px, 0px);
        width: calc(100% - 110px);
    }
}