@use "../../styles/abstracts/variables" as *;

.delete-group-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .delete-group-modal-content {
        background-color: $background-color;
        padding: 40px;
        width: 400px;
        border-radius: 5px;
        position: relative;
        text-align: center;

        .delete-group-close {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            font-size: 30px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $border-color;
            width: 40px;
            height: 40px;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &:hover {
                background-color: $grey;
            }
        }

        .delete-group-header {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .delete-group-p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }


        .delete-group-buttons-div {
            display: flex;
            justify-content: center;
            gap: 20px;

            .delete-group-btn-yes,
            .delete-group-btn-no {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .delete-group-modal {
        .delete-group-modal-content {
            padding: 20px;
            width: 300px;
            height: 200px;

            .delete-group-close {
                font-size: 20px;
                width: 30px;
                height: 30px;
            }

            .delete-group-header {
                font-size: 20px;
            }
        }
    }

}