@use "../../styles/abstracts/variables" as *;

.my-notebook-main {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    gap: 10px;
    height: 480px;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .notebook-notes-area {

        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 400px;
        overflow-y: auto;

        .note-div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 10px;
            position: relative;

            .edit-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 15px;
                height: 15px;
                opacity: 0.5;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    opacity: 1;
                }
            }

            .note-one-subheader {
                padding: 5px;
                font-weight: 300;
                font-size: 22px;
                border-bottom: 1px solid $border-color;
            }

            .note-one-subnote {
                padding: 5px;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .my-notebook-main {
        max-height: 250px;
        overflow: hidden;
        padding: 5px;
        gap: 3px;

        .notebook-notes-area {
            .note-div {
                padding: 3px;

                .note-one-subheader {
                    font-size: 12px;
                    padding: 3px;
                }

                .note-one-subnote {
                    font-size: 12px;
                    padding: 3px;
                }
            }
        }
    }
}