@use "../../styles/abstracts/variables" as *;

.add-new-project-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .add-new-project-modal-content {
        position: relative;
        background-color: $grey;
        display: flex;
        flex-direction: column;
        padding: 40px;
        text-align: center;
        width: 400px;
        gap: 20px;
        border-radius: 20px;

        .add-new-project-name-input,
        .add-new-project-password-input {
            width: 300px;
            height: 40px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $border-color;
            color: $font-color;
        }

        .add-new-project-cover-photo-input {
            width: 300px;
            height: 40px;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid $border-color;
        }

        .add-new-project-adding-modal-buttons-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .add-new-project-modal {
        .add-new-project-modal-content {
            width: 300px;
            padding: 10px;

            .add-new-project-adding-header {
                font-size: 20px;
            }

            .add-new-project-cover-photo-input {
                width: 100%;
            }

            .add-new-project-name-input,
            .add-new-project-password-input {
                width: 100%;
            }
        }
    }
}