@use "../../styles/abstracts/variables" as *;

.my-files-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 15px;
    gap: 20px;

    .my-files-panel-header {
        display: flex;
        justify-content: center;
        font-weight: 300;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid $border-color;
    }

    .folders {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        position: relative;

        .folder-content {
            display: flex;
            flex-direction: column;

            .back-button {
                width: 30px;
                cursor: pointer;
                position: absolute;
            }

            .folder-header {
                font-weight: 300;
                text-align: center;
                margin-bottom: 20px;
            }

            .files {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;

                .file {
                    width: 150px;
                    padding: 10px;
                    border: 1px solid $border-color;
                    border-radius: 15px;
                    cursor: pointer;

                    .files-img {
                        width: 100%;
                    }
                }
            }
        }

        .folder {
            border: 1px solid $border-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;
            margin: 10px;
            width: 180px;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            .folder-p {
                margin-top: 10px;
            }

            .folder-icon {
                width: 100px;
                height: 100px;
            }
        }
    }
}