@use "../../styles/abstracts/variables" as *;

.my-files-panel {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 33%;
    height: fit-content;
    font-family: "Barlow", sans-serif;
    border: 1px solid $border-color;

    .my-files-panel-header {
        padding: 10px;
        font-weight: 400;
        color: $font-color;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $border-color;

    }

    .my-folders {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 10px;

        .my-folder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 145px;
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            &:active {
                background-color: darken($background-color, 20%);
            }

            .my-folder-preview {
                width: 80px;
                height: 80px;
                border-radius: 10px;
            }

            .my-folder-name {
                font-size: 14px;
                color: #555;
                padding: 5px;
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .my-files-panel {
        width: 100%;
    }
}