@import "../../styles/abstracts/variables";

.button {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-color;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    color: $background-color;
    border: 1px solid $background-color;
  }

  &.primary {
    background-color: $background-color;
    color: $font-color;

    &:hover {
      background-color: darken($color: $background-color, $amount: 1%);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $background-color;
    border: 1px solid $border-color;
  }

  &.large {
    padding: 10px 30px;
  }

  &.medium {
    padding: 6px 20px;
  }
}