@use "../../styles/abstracts/variables" as *;

.delete-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .delete-confirmation-modal-content {
        background-color: $background-color;
        padding: 40px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        height: 250px;
        overflow: auto;
        position: relative;
        text-align: center;

        .delete-confirmation-header {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 400;
        }

        .delete-confirmation-modal-buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .delete-confirmation-modal {
        .delete-confirmation-modal-content {
            padding: 20px;
            width: 300px;
            height: 200px;

            .delete-confirmation-header {
                font-size: 20px;
            }
        }
    }
}