@use "../../styles/abstracts/variables" as *;

.project-history-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 20px;
    font-family: $primary-font;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-top: 20px;
    color: $font-color;
    gap: 10px;

    .project-history-header {
        border-bottom: 1px solid $border-color;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 10px 0px;
        width: 100%;
        font-size: 30px;
        color: $font-color;
        text-align: center;
        font-weight: 300;
    }

    .history-paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width: 950px) {
    .project-metrics {
        width: 100%;
    }
}