@use "../../styles/abstracts/variables" as *;

.settings-page {
    display: flex;
    width: 100%;

    .settings-page-row {
        display: flex;
        flex-direction: row;
        width: calc(100% - 110px);
        transform: translate(110px, 0px);
    }
}

@media screen and (max-width: 950px) {
    .settings-page {
        .settings-page-row {
            width: calc(100% - 60px);
            transform: translate(60px, 0px);
        }
    }
}