$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #EA7C69;
$primary-font: "Barlow", sans-serif;

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

$div-color: #2e304d;
$background-color: white;
$yellow: #ffcd3c;
$grey: #f4f4f4;
$font-color: rgb(54, 54, 54);
$border-color: #e4e4e4;
$dark-button: #e7e7e7;