$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #EA7C69;
$primary-font: "Roboto", sans-serif;

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

$div-color: #2e304d;
$background-color: white;
$yellow: #f8d05d;
$darkyellow: #d8b651;
$grey: #f4f4f4;
$font-color: rgb(54, 54, 54);
$border-color: #e4e4e4;
$dark-button: #e7e7e7;
$blue: #007bff;
$dark-blue: #0056b3;
$close: #E81123;
$header-grey: #5e5e5e;

.global-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
    border-radius: 50%;
    background-color: #f4f4f4;
    color: black;
    border: 1px solid #e4e4e4;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 65, 65);
        color: white;
    }
}

.modal-header {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
}

.confirm-button {
    border: 1px solid $border-color;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: white;
    color: $font-color;

    &:hover {
        background-color: #0056b3;
        color: white;
    }
}

.cancel-button {
    border: 1px solid $border-color;
    color: $font-color;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: white;

    &:hover {
        background-color: $close;
        color: white;
    }
}

.yellow-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid $border-color;
    transition: all 0.2s;
    color: $font-color;
    background-color: white;

    &:hover {
        background-color: $yellow;
        color: $font-color;
    }
}

.div-header {
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 28px;
    color: $font-color;
    text-align: center;
    font-weight: 400;
}

.div-big-header {
    width: fit-content;
    padding: 10px;
    font-size: 40px;
    margin: 20px 20px 20px 40px;
    color: $font-color;
    font-weight: 400;
    border-radius: 5px;
}

.paragraph {
    font-size: 18px;
    border: 1px solid $border-color;
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
}

.paragraph-header {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color;
}