@use "../../styles/abstracts/variables" as *;

.new-note-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .new-note-modal-content {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 20px;
        background: white;
        padding: 20px;
        border-radius: 5px;
        width: 500px;
        height: 350px;
        text-align: center;

        .note-title-input {
            padding: 5px;
            border: 1px solid $border-color;
            border-radius: 5px;
        }

        .note-content-input {
            padding: 5px;
            height: 135px;
            border: 1px solid $border-color;
            border-radius: 5px;
        }

        .btn-div-for-new-note {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .new-note-submit-btn,
            .new-note-cancel-btn {
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid $border-color;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .new-note-modal {
        .new-note-modal-content {
            width: 90%;

        }
    }
}