@use "../../styles/abstracts/variables" as *;

.admin-sub-setting-page {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 15px;
    color: $font-color;
    font-family: $primary-font;

    .admin-sub-panel-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .admin-sub-setting-page {
        width: 100%;
        padding: 10px;
    }
}