@use "../../styles/abstracts/variables" as *;

.workers-page-main {
    background-color: $background-color;
    font-family: "Barlow", sans-serif;

    .company-grid {
        display: flex;
        flex-direction: row;

        .employee-card-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;

            .employee-card-modal-inner {
                background-color: $grey;
                display: flex;
                flex-direction: column;
                width: 400px;
                height: 400px;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: relative;
                gap: 10px;
                border-radius: 20px;

                .profile-pic {
                    width: 150px;
                    height: 150px;

                    .profile-pic-inner {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .modal-close-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
            }
        }

        .sidebar {
            display: flex;
            width: 20%;
            background-color: $div-color;
            padding: 10px;
            background-color: $background-color;

            ul {
                width: 100%;
                list-style-type: none;
                padding: 0;

                .job-titles-for-workersPage {
                    margin: 10px 0;
                    padding: 10px;
                    background-color: $grey;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 10px;
                }

                :hover {
                    background-color: darken($grey, 10%);
                }

                :active {
                    background-color: darken($grey, 20%);
                }

            }
        }

        .employee-grid {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
            gap: 20px;
            padding: 20px;
            color: $div-color;

            .employee-card {
                background-color: $grey;
                padding: 20px;
                max-height: 240px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                cursor: pointer;

                .profile-pic {
                    width: 100px;
                    height: 100px;
                    background-color: #ccc;
                    border-radius: 50%;
                    margin: 0 auto 10px;

                    .profile-pic-inner {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .employee-info {
                    h3 {
                        margin: 10px 0 5px;
                        font-size: 18px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 620px) {
    .workers-page-main {
        .company-grid {
            display: flex;
            flex-direction: column;
            width: 100%;

            .sidebar {
                width: 100%;
            }

            .employee-grid {
                width: 100%;

                .employee-card {
                    background-color: #f4f4f4;
                    padding: 20px;
                    max-height: 240px;
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }
            }

        }
    }
}