@use "../../styles/abstracts/variables" as *;

.workers-page-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    font-family: "Barlow", sans-serif;
    position: relative;
    color: $font-color;

    .workers-column {
        width: calc(100% - 110px);
        transform: translate(110px, 0px);

        .workers-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .workers-page-header {
                font-size: 40px;
                font-weight: 400;
                margin: 20px 20px 20px 40px;
                text-align: left;
                width: fit-content;
                color: $font-color;
            }

            .search-bar-of-projects {
                width: 300px;
                height: 40px;
                margin-right: 40px;
                border-radius: 15px;
                border: 1px solid $border-color;
                padding: 10px;
            }
        }

        .company-grid {
            gap: 20px;
            display: flex;
            flex-direction: row;
            width: 100%;

            .employee-private-chat {
                width: 60%;
            }
        }

        .add-new-employee-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);

            .new-employee-modal-content {
                background: $background-color;
                padding: 20px;
                border-radius: 5px;
                position: relative;
                text-align: center;
                width: 50%;

                .new-employee-modal-close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 20px;
                    cursor: pointer;
                }

                .employee-name-input,
                .employee-email-input,
                .new-employee-profile-pic {
                    margin: 10px 0;
                    padding: 10px;
                    width: 100%;
                }

                .adding-modal-buttons-row {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    .adding-modal-button-create,
                    .adding-modal-button-abort {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: darken($background-color, 10%);
                        }

                        &:active {
                            background-color: darken($background-color, 20%);
                        }
                    }

                    .adding-modal-button-create {
                        background-color: $background-color;
                        color: $font-color;
                    }

                    .adding-modal-button-abort {
                        background-color: $grey;
                        color: $font-color;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 620px) {
    .workers-page-main {
        .company-grid {
            flex-direction: column;
            width: 100%;

            .sidebar {
                width: 100%;
            }

            .employee-grid {
                width: 100%;

                .employee-card {
                    background-color: $background-color;
                    padding: 20px;
                    max-height: 240px;
                    text-align: center;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}