@use "../../styles/abstracts/variables" as *;

.company-create-page-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    font-family: $primary-font;
    position: relative;

    .back-button-company {
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 15px;
        left: 15px;
        position: absolute;
    }

    .company-create-page-title {
        font-weight: 400;
        margin-bottom: 20px;
    }

    .company-and-admin-create-div {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
        border-radius: 15px;
        border: 1px solid $border-color;
    }
}