@use "../../styles/abstracts/variables" as *;

.company-create-page-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    font-family: $primary-font;
    font-family: $primary-font;

    .company-create-page-title {
        font-weight: 400;
        margin-bottom: 20px;
    }

    .company-and-admin-create-div {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
        border-radius: 15px;
        border: 1px solid $border-color;

        .company-admin-create-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 60%;
            padding: 20px;
            align-items: center;

            .company-admin-row-for-btn {
                display: flex;
                flex-direction: row;
                gap: 50px;
                width: 100%;

                .company-create-div,
                .admin-create-div {
                    border: 1px solid $border-color;
                    border-radius: 15px;
                    width: 50%;
                    padding: 20px;

                    .company-create-subheader,
                    .admin-create-subheader {
                        font-weight: 400;
                        font-size: 25px;
                        margin-bottom: 25px;
                    }

                    .company-create-label,
                    .admin-create-label {
                        display: block;
                        margin-bottom: 5px;
                    }

                    .company-create-input,
                    .admin-create-input {
                        width: 100%;
                        padding: 8px;
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                    }

                    .error-for-company-signup {
                        font-weight: 300;
                        font-size: 16px;
                    }

                    .employee-code-create-btn {
                        border: 1px solid $border-color;
                        color: $font-color;
                        padding: 10px 20px;
                        border-radius: 5px;
                        transition: all 0.3s;

                        &:hover {
                            background-color: darken($yellow, 10%);
                        }
                    }
                }

            }

            .company-admin-create-button {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.3s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}