@use "../../styles/abstracts/variables" as *;

.signup-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .signup-main-div {
        width: 500px;
        height: 200px;

        .signup-header {
            color: $font-color;
            font-size: 4rem;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .password-section-signup {
                display: flex;
                align-items: center;
                position: relative;

                .toggle-password-visibility {
                    position: absolute;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    right: -40px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    background-color: white;

                    .eye-logo {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }

            .signup-btn {
                display: flex;
                height: 40px;
                width: 90px;
                border: none;
                border-radius: 12px;
                cursor: pointer;
                color: $background-color;
                background-color: $grey;
            }

            .signup-full-name-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .signup-tel-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .signup-email-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .company-code-input {
                height: 40px;
                width: 150px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .password-section-signup {

                .signup-password-input {
                    height: 40px;
                    width: 300px;
                    border: none;
                    padding-left: 10px;
                    border-radius: 12px;
                    border: 1px solid $border-color;
                }

                .toggle-password-visibility {

                    .eye-logo {}
                }
            }

            .signup-btn {
                color: $font-color;
                border: 1px solid $border-color;
                padding: 5px;
                border-radius: 12px;
                background-color: $background-color;
            }
        }
    }
}