@use "../../styles/abstracts/variables" as *;

.signup-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;
    position: relative;

    .back-button-company {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    .signup-main-div {
        width: 500px;
        height: auto;
        padding: 20px;
        border-radius: 15px;
        border: 1px solid $border-color;

        .signup-header {
            color: $font-color;
            font-size: 50px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .buttons-div-for-signup {
                display: flex;
                margin-top: 20px;
                gap: 20px;

                .back-button-to-login,
                .signup-btn {
                    border-radius: 12px;
                    border: 1px solid $border-color;
                    cursor: pointer;
                    padding: 10px;
                    transition: all 0.2s;

                    &:hover {
                        background-color: darken($yellow, 10%);
                    }
                }
            }

            .password-section-signup {
                display: flex;
                align-items: center;
                position: relative;

                .toggle-password-visibility {
                    position: absolute;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    right: 0px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    background-color: white;

                    .eye-logo {
                        width: 20px;
                        height: 18px;
                        cursor: pointer;
                    }
                }
            }

            .signup-full-name-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .signup-tel-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .signup-email-input {
                height: 40px;
                width: 300px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .company-code-input {
                height: 40px;
                width: 150px;
                border: none;
                padding-left: 10px;
                border-radius: 12px;
                border: 1px solid $border-color;
            }

            .password-section-signup {

                .signup-password-input {
                    height: 40px;
                    width: 300px;
                    border: none;
                    padding-left: 10px;
                    border-radius: 12px;
                    border: 1px solid $border-color;
                }

                .toggle-password-visibility {

                    .eye-logo {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }

            .signup-btn {
                color: $font-color;
                border: 1px solid $border-color;
                padding: 5px;
                border-radius: 12px;
                background-color: $background-color;
                transition: all 0.2s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: 578px) {
    .signup-page {
        .signup-main-div {
            width: 100%;

            .signup-header {
                font-size: 40px;
            }
        }
    }
}