@use "../../styles/abstracts/variables" as *;

.all-companies-page-main {
    display: flex;
    flex-direction: column;
    font-family: $primary-font;
    color: $font-color;

    .all-companies-page-column {
        display: flex;
        flex-direction: column;
        padding: 20px;
        transform: translate(110px, 0px);
        width: calc(100% - 110px);
        gap: 20px;

        .all-companies-page-title {
            font-size: 40px;
            font-weight: 400;
            margin: 20px;
            text-align: left;
            width: fit-content;
        }

        .all-companies-page-row {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .all-companies-page-company-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px;
                border-radius: 15px;
                border: 1px solid $border-color;
                cursor: pointer;

                &:hover {
                    background-color: darken($background-color, 10%);
                }

                .company-hub-header {
                    font-size: 20px;
                    font-weight: 500;
                }

                .company-hub-one-logo {
                    width: 200px;
                    height: 200px;
                    border-radius: 5%;
                }

                .company-hub-working-area {
                    font-size: 20px;
                }
            }
        }
    }
}