@use "../../styles/abstracts/variables" as *;

.project-folders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    flex-wrap: wrap;
    font-family: $primary-font;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-top: 20px;
    color: $font-color;
    min-height: 350px;

    .current-folders-div {
        display: flex;
        flex-direction: column;
        position: relative;

        .current-folders-div-2 {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .go-back-btn {
                .go-back-btn-img {
                    width: 40px;
                }
            }

            .current-folder-header {
                font-weight: 400;
            }
        }


        .folder-content {
            gap: 20px;
            padding: 25px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            margin-top: 50px;

            .folder-content-nocontent-p {
                font-size: 20px;
                font-weight: 400;
                position: absolute;
                top: 60px;
            }

            .file-preview-upload {
                width: 140px;
                height: 140px;
                border-radius: 15px;
                border: 1px solid $border-color;

                &:hover {
                    background-color: darken($background-color, 10%);
                }
            }

            .file-input-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                .file-preview {
                    .preview-image {
                        width: 100px;
                        max-height: 300px;
                    }
                }

                input[type="file"] {
                    display: none;
                }

                .custom-file-upload {
                    display: flex;
                    width: 150px;
                    height: 205px;
                    align-items: center;
                    padding: 10px;
                    color: $font-color;
                    border-radius: 15px;
                    border: 1px solid $border-color;
                    cursor: pointer;
                    justify-content: center;


                    &:hover {
                        background-color: darken($background-color, 10%);
                    }
                }

                button {
                    margin-left: 1rem;
                    padding: 0.5rem 1rem;
                    color: $font-color;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($background-color, 10%);
                    }

                    &:active {
                        background-color: darken($background-color, 20%);
                    }
                }
            }

            .add-file {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 160px;
                height: 160px;
                border: 1px solid $border-color;
                border-radius: 10px;
                cursor: pointer;
                transform: translate(0px, -12px);
            }

            .add-file-to-folder {
                padding: 10px;
                width: 140px;
                height: 50px;
                margin: 10px;
                border: 1px solid #e4e4e4;
                border-radius: 10px;
                cursor: pointer;
                font-weight: 400;
            }

            .file {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 160px;
                height: 205px;
                text-align: center;
                align-items: center;
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid $border-color;

                .file-icon-img {
                    width: 100px;
                    height: 120px;
                }

                .file-name {
                    font-size: 18px;
                    font-weight: 400;
                    color: $font-color;
                    word-break: break-all;
                }
            }
        }
    }


    .project-folder-button {
        border: 1px solid $border-color;
        color: $font-color;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s;
        margin: 20px;

        &:hover {
            background-color: darken($yellow, 10%);
        }
    }

    .project-folders-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .project-folder {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 10px;
            height: auto;
            width: 200px;
            border-radius: 10px;
            border: 1px solid $border-color;
            cursor: pointer;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            .file-card-delete-btn {
                display: none;
            }

            .file-card-edit-btn {
                display: none;
            }

            .project-folder-name {
                font-size: 18px;
                font-weight: 400;
                margin: 10px 0;
                color: $font-color;
            }

            .project-folder-image {
                width: 120px;
                object-fit: cover;
                margin-bottom: 10px;
            }
        }

        :hover {
            .file-card-delete-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 20px;
                cursor: pointer;
                width: 20px;
                margin: 5px;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }

            .file-card-edit-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 0px;
                font-size: 20px;
                cursor: pointer;
                width: 20px;
                margin: 5px;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-folders {
        justify-content: center;

        .project-folders-container {
            flex-direction: column;
            width: auto;

            .project-folder {
                .project-folder-image {

                    width: 90px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .project-folders {
        width: 100%;
    }
}