@use "../../styles/abstracts/variables" as *;

.remove-user-modal {
    position: fixed;
    font-family: $primary-font;
    color: $font-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .remove-user-modal-content {
        background-color: white;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        max-width: 500px;
        overflow-y: auto;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .remove-user-modal-ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .remove-user-modal-li {
                display: flex;


                .remove-user-modal-label {
                    cursor: pointer;

                    .remove-user-modal-input {
                        width: 35px;
                        height: 25px;
                        cursor: pointer;
                    }
                }
            }
        }

        .remove-user-modal-backdrop-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .remove-user-submit-button,
            .remove-user-cancel-button {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.2s;

                &:hover {
                    background-color: $darkyellow;
                }
            }
        }
    }
}