@use "../../styles/abstracts/variables" as *;

.project-material-use {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-top: 20px;

    .material-use-header {
        border-bottom: 1px solid $border-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 30px;
        color: rgb(54, 54, 54);
        text-align: center;
        font-weight: 300;
    }

    .material-use-calendar {
        margin-bottom: 20px;
    }
}