@use "../../styles/abstracts/variables" as *;

.navigation-main {
    display: flex;
    flex-direction: row;
    background-color: $div-color;
    color: white;
    font-family: "Barlow", sans-serif;

    .nav-ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90px;

        .nav-li-third,
        .nav-li-one {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;

            .nav-button {
                background-color: $grey;
                width: 80%;
                border: none;
                border-radius: 15px;
                padding: 10px;
                text-align: center;
                color: $div-color;
                cursor: pointer;
            }

            :hover {
                background-color: darken($grey, 10%);
            }

            :active {
                background-color: darken($grey, 20%);
            }
        }
    }
}

@media screen and (max-width: 950px) {

    .navigation-main {
        .nav-ul {

            .nav-li-third,
            .nav-li-one {
                font-size: 20px;

                .nav-button {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {

    .navigation-main {
        .nav-ul {

            .nav-li-third,
            .nav-li-one {
                font-size: 14px;

                .nav-button {
                    width: 90%;
                }
            }
        }
    }
}