@use "../../styles/abstracts/variables" as *;

.navigation-main {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    color: $font-color;
    font-family: "Barlow", sans-serif;
    width: 10%;
    border-right: 1px solid $border-color;

    .nav-ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 25px;

        .arch-logo {
            width: 130px;
        }

        .nav-li-third,
        .nav-li-one {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 30px;

            .nav-button {
                background-color: $background-color;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                border: none;
                border-radius: 0px;
                padding: 10px;
                text-align: center;
                color: $font-color;
                font-size: 20px;
                cursor: pointer;

                .nav-logo {
                    width: 45px;
                    height: 100%;
                }
            }

            :hover {
                background-color: darken($grey, 10%);
            }

            :active {
                background-color: darken($grey, 20%);
            }
        }
    }
}

@media screen and (max-width: 950px) {

    .navigation-main {
        .nav-ul {

            .nav-li-third,
            .nav-li-one {
                font-size: 20px;

                .nav-button {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {

    .navigation-main {
        .nav-ul {

            .nav-li-third,
            .nav-li-one {
                font-size: 14px;

                .nav-button {
                    width: 90%;
                }
            }
        }
    }
}