@use "../../styles/abstracts/variables" as *;

.edit-project-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    font-family: $primary-font;
    color: $font-color;

    .edit-project-content {
        background-color: white;
        position: relative;
        padding: 50px;
        border-radius: 5px;
        max-width: 400px;
        text-align: left;

        .edit-project-modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            max-width: 400px;
            width: 100%;
            text-align: center;
            position: relative;
        }

        .project-p-modall {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .edit-project-name-input,
        .edit-project-cover-photo-input,
        .edit-project-password-input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .edit-modal-buttons-row {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .edit-project-modal {
        .edit-project-content {
            padding: 20px;
            width: 300px;
            height: 250px;
        }
    }
}