@use "../../styles/abstracts/variables" as *;

.projects-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $background-color;
    font-family: "Barlow", sans-serif;

    .inner-project-page {
        display: flex;
        flex-direction: row;
        width: calc(100% - 110px);
        transform: translate(110px, 0px);

        .inner-project-column {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;

            .inner-project-row {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}

@media (max-width: 1250px) {

    .projects-page {
        .inner-project-page {
            display: flex;
            flex-direction: column;

            .inner-project-column {
                width: 100%;
            }
        }

        .company-project-files {
            flex: 1 1 calc(14.28% - 10px);
            /* 7 columns */
        }
    }


}

@media (max-width: 992px) {
    .company-project-files {
        flex: 1 1 calc(16.66% - 10px);
        /* 6 columns */
    }
}

@media (max-width: 768px) {
    .company-project-files {
        flex: 1 1 calc(20% - 10px);
        /* 5 columns */
    }
}

@media (max-width: 576px) {
    .project-inside-main {
        .projects-sidebar {
            .projects-list {
                flex-wrap: wrap;

                .project-item {
                    font-size: 16px;
                }
            }
        }
    }





    .company-project-files {
        flex: 1 1 calc(25% - 10px);
        /* 4 columns */

    }
}

@media (max-width: 480px) {
    .company-project-files {
        flex: 1 1 calc(33.33% - 10px);
        /* 3 columns */
    }
}

@media (max-width: 360px) {
    .company-project-files {
        flex: 1 1 calc(50% - 10px);
        /* 2 columns */
    }
}