@use "../../styles/abstracts/variables" as *;

.projects-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .inner-project-page {
        display: flex;
        flex-direction: row;
        width: calc(100% - 110px);
        transform: translate(110px, 0px);

        .inner-project-column {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;

            .inner-project-row {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .projects-page {
        .inner-project-page {
            flex-direction: column;
            width: 93%;
            transform: translate(60px, 0px);

            .inner-project-column {


                .inner-project-row {

                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .projects-page {
        .inner-project-page {


            .inner-project-column {


                .inner-project-row {
                    gap: 5px;
                }
            }
        }
    }
}