@use "../../../styles/abstracts/variables" as *;

.personal-info-subsetting-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 30px;

    .subsetting-header {
        display: flex;
        gap: 10px;
        flex-direction: column;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;

        .subsetting-pp {
            width: 200px;
            height: 200px;
            border-radius: 10%;
        }
    }

    .personal-info-subsetting-oneline {
        position: relative;
        width: 100%;

        .subsetting-div {
            display: flex;
            gap: 10px;

            .subsetting-buttons-div {
                display: flex;
                gap: 10px;

                .subsetting-btn,
                .subsetting-cancel {
                    padding: 5px;
                    border: 1px solid $border-color;
                    border-radius: 10px;
                    transition: all 0.2s;

                    &:hover {
                        background-color: darken($background-color, 10%);
                    }
                }
            }


            .input-username-subsetting {
                color: $font-color;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid $border-color;

            }
        }

        .edit-pencil-subsetting {
            position: absolute;
            width: 15px;
            height: 15px;
            cursor: pointer;
            right: 5px;
            top: 5px;
        }

        .subsetting-header {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .subsetting-paragraph {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 750px) {
    .personal-info-subsetting-column {
        width: 100%;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }
}