@use "../../styles/abstracts/variables" as *;

.other-info-main {
    width: 100%;
    max-height: 860px;
    overflow-y: auto;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .revise-and-profile {
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 10px;

        .other-all-revises-inner {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 5px;
            max-height: 310px;
            overflow-y: auto;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .other-revises-h2 {
                font-size: 24px;
                font-weight: 400;
                padding: 10px;
                border-bottom: 1px solid $border-color;
            }

            .other-revise-div {

                .other-revise-p {
                    font-size: 16px;
                    font-weight: 400;
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 10px;
                }
            }
        }

        .other-info-inner {
            height: fit-content;

            .other-revise-p {
                font-size: 16px;
            }

            .other-info-inner-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 5px;
                transition: all 0.2s;

                &:hover {
                    box-shadow: 0px 0px 5px rgb(199, 199, 199);
                }

                .other-info-profile-pic {
                    width: 180px;
                    height: 180px;
                    padding: 10px;
                    border-radius: 50%;
                    background-color: $background-color;
                    object-fit: cover;

                }

                .other-info-username {
                    font-size: 20px;
                    font-weight: 400;
                }

                .other-info-email {
                    font-size: 18px;
                    font-weight: 300;
                }

                .profession-editing-div {
                    display: flex;
                    position: relative;
                    width: 100%;
                    justify-content: center;

                    .other-info-professionname {
                        font-size: 18px;
                        font-weight: 300;
                    }

                    .pencil-profession-edit {
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                        transition: all 0.2s;
                        opacity: 0.6;
                        position: absolute;
                        right: 0;
                        top: 4px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }


            }
        }
    }

    .other-info-header {
        font-size: 30px;
        font-weight: 300;
    }

    .other-joined-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: fit-content;
        border: 1px solid $border-color;
        border-radius: 5px;

        .other-all-projects {
            display: flex;
            width: 100%;
            flex-direction: column;
            font-size: 18px;
            font-weight: 400;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .other-joined-projects-h2 {
                font-size: 24px;
                font-weight: 400;
                padding: 10px;
            }

            .other-column {
                gap: 20px;
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                padding: 10px;
                justify-content: center;

                .other-project-div {
                    display: flex;
                    width: 20%;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    justify-content: space-between;
                    border: 1px solid $border-color;
                    border-radius: 5px;

                    .other-project-p {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .other-project-photo {
                        width: 100px;
                        height: 100px;
                        border-radius: 10%;
                        background-color: $background-color;
                    }
                }
            }
        }
    }

    .other-all-groups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: fit-content;
        border: 1px solid $border-color;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
            box-shadow: 0px 0px 5px rgb(199, 199, 199);
        }

        .other-groups-joined-h2 {
            font-size: 24px;
            font-weight: 400;
        }

        .all-groups-row-div {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            .no-group-p {
                font-size: 18px;
                font-weight: 400;
            }

            .other-groups-name {
                width: 100%;
                padding-right: 5px;
                font-weight: 400;
                font-size: 18px;
                border-right: 1px solid $border-color;
            }
        }
    }

    .open-inbox-content-private-messages-div {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        position: relative;
        text-align: center;
        width: 100%;
        transition: all 0.2s;

        &:hover {
            box-shadow: 0px 0px 5px rgb(199, 199, 199);
        }

        .messages-container-private {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            max-height: 400px;
            width: 95%;
            overflow-y: auto;

            .message-private {
                display: flex;
                background-color: #f9f9f9;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 5px;
                justify-content: center;
                align-items: center;

                .priv-message-date {
                    font-size: 16px;
                    font-weight: 400;
                }

                .priv-message-reply-input {
                    width: 80%;
                    padding: 10px;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                }

                .message-header-private {
                    font-size: 22px;
                    font-weight: 400;
                    word-wrap: break-word;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $border-color;
                    width: 70%;
                }

                .message-owner-private {
                    font-size: 20px;
                    font-weight: 400;
                    word-wrap: break-word;
                }

                .message-content-private {
                    font-size: 18px;
                    word-wrap: break-word;
                    font-weight: 300;
                }

                .message-media-div-private {
                    display: flex;
                    gap: 10px;
                    border: 1px solid $border-color;
                    padding: 10px;
                    border-radius: 5px;
                    max-width: 395px;
                    overflow-x: auto;

                    .message-media-img-private {
                        width: 100px;
                    }
                }
            }
        }

        .open-inbox-modal-header-private {
            font-size: 24px;
            font-weight: 400;

        }

        .write-priv-message {
            border: 1px solid $border-color;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.2s;
            width: 200px;

            &:hover {
                background-color: darken($yellow, 10%);
            }
        }

    }
}

@media screen and (max-width: 450px) {
    .other-info-main {
        margin: 0px 10px 10px 10px;
        gap: 5px;
        max-height: 300px;

        .open-inbox-content-private-messages-div {
            .write-priv-message {
                padding: 5px;
                width: 150px;
            }

            .open-inbox-modal-header-private {
                font-size: 20px;
            }
        }

        .other-all-groups {
            .other-groups {
                .other-groups-name {
                    font-size: 16px;
                }
            }

            .other-groups-joined-h2 {
                font-size: 20px;
            }
        }

        .revise-and-profile {
            gap: 5px;

            .other-info-inner {
                .other-info-inner-2 {
                    .profession-editing-div {
                        .other-info-professionname {
                            font-size: 14px;
                        }
                    }

                    .other-info-email {
                        font-size: 16px;
                    }
                }
            }

            .other-all-revises-inner {
                gap: 5px;
                padding: 5px;
                margin: 0px;

                .other-revise-div {
                    .other-revise-p {
                        font-size: 14px;
                    }
                }

                .other-revises-h2 {

                    font-size: 22px;
                    padding: 3px;
                }
            }
        }

        .other-joined-all {
            .other-all-projects {
                max-height: 400px;
                overflow-y: auto;

                .other-joined-projects-h2 {
                    font-size: 20px;
                    padding: 5px;
                }

                .other-column {
                    gap: 10px;
                    justify-content: center;

                    .other-project-div {
                        padding: 3px;
                        width: 30%;
                        border: 1px solid $border-color;
                        border-radius: 5px;

                        .other-project-p {
                            font-size: 14px;
                        }

                        .other-project-photo {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
}