@use "../../styles/abstracts/variables" as *;

.other-info-main {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin: 10px;
    text-align: center;

    .revise-and-profile {
        display: flex;
        flex-direction: row;
        height: fit-content;
        max-height: 350px;
        overflow-y: auto;

        .other-all-revises-inner {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 10px;
            margin: 10px;
            border: 1px solid $border-color;
            border-radius: 15px;

            .other-revises-h2 {
                font-size: 24px;
                font-weight: 400;
                padding: 10px;
            }

            .other-revise-div {

                .other-revise-p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        .other-info-inner {
            height: fit-content;


            .other-info-inner-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 10px;
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 15px;

                .other-info-profile-pic {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    border-radius: 50%;
                    background-color: $background-color;

                }

                .other-info-username {
                    font-size: 18px;
                    font-weight: 400;
                }

                .other-info-email {
                    font-size: 18px;
                    font-weight: 400;
                }

                .other-info-professionname {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    .other-info-header {
        font-size: 30px;
        font-weight: 300;
    }

    .other-joined-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px;
        height: fit-content;
        border: 1px solid $border-color;
        border-radius: 15px;

        .other-all-projects {
            display: flex;
            width: 100%;
            flex-direction: column;
            font-size: 18px;
            font-weight: 400;

            .other-joined-projects-h2 {
                font-size: 24px;
                font-weight: 400;
                padding: 10px;
            }

            .other-column {
                gap: 5px;
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                padding: 10px;

                .other-project-div {
                    display: flex;
                    width: 19%;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    justify-content: space-between;

                    .other-project-p {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .other-project-photo {
                        width: 100px;
                        height: 100px;
                        border-radius: 10%;
                        background-color: $background-color;
                    }
                }
            }
        }
    }

    .other-all-groups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        height: fit-content;
        border: 1px solid $border-color;
        border-radius: 15px;

        .other-groups-joined-h2 {
            font-size: 24px;
            font-weight: 400;
        }

        .other-groups {

            .other-groups-name {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .other-info-main {
        .other-all-groups {
            .other-groups-joined-h2 {
                font-size: 20px;
            }
        }

        .revise-and-profile {
            .other-all-revises-inner {
                gap: 5px;

                padding: 5px;
                margin: 5px;

                .other-revise-div {
                    .other-revise-p {
                        font-size: 14px;
                    }
                }

                .other-revises-h2 {

                    font-size: 22px;
                    padding: 3px;
                }
            }
        }

        .other-joined-all {
            .other-all-projects {
                max-height: 400px;
                overflow-y: auto;

                .other-joined-projects-h2 {
                    font-size: 20px;
                    padding: 5px;
                }

                .other-column {
                    gap: 10px;
                    justify-content: center;

                    .other-project-div {
                        padding: 3px;
                        width: 45%;
                        border: 1px solid $border-color;
                        border-radius: 10px;

                        .other-project-p {
                            font-size: 16px;
                        }

                        .other-project-photo {
                            width: 75px;
                            height: 75px;
                        }
                    }
                }
            }
        }
    }
}