@use "../../styles/abstracts/variables" as *;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 20px;
    padding: 20px;
    background-color: $background-color;
    border-radius: 20px;
    border: 1px solid $border-color;
    color: $font-color;
    font-family: $primary-font;
    height: fit-content;

    .profile-info {
        .profile-field {
            flex-wrap: wrap;

            .profile-field-labels {
                font-weight: 400;
                width: 100%;
            }

            .profile-field-paragraph {
                word-break: break-all;
                font-weight: 300;
                width: 100%;
            }
        }

        .profile-field-social {
            flex-wrap: wrap;

            .profile-field-labels {
                font-weight: 400;
                width: 100%;
            }


            .profile-field-paragraph {
                word-break: break-all;
                width: 100%;
                font-weight: 300;
            }
        }
    }

    .profile-image {
        position: relative;
        margin: 10px;
        display: flex;
        justify-content: center;

        .profile-pic-input {
            position: absolute;
            display: flex;
            width: 20px;
            height: 20px;
        }

        .profile-pic {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 5px solid $border-color;
        }
    }

    .profile-form {
        width: 90%;

        .profile-image {
            width: 90%;

            .profile-pic-label {
                width: 300px;
                height: 300px;
                position: relative;
                cursor: pointer;

                .profile-pic {}

                .profile-pic-input {
                    display: none;
                }
            }
        }

        .profile-field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 0px 5px 0px;

            .profile-field-label {
                padding: 10px;
                width: 30%;
            }

            .biography-area {
                height: 80px;
                background-color: $background-color;
                color: $font-color;
                border-radius: 8px;
                padding: 10px;
            }

            .input-for-labels {
                background-color: $background-color;
                color: $font-color;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid $border-color;
                width: 70%;
            }
        }

        ::placeholder {
            color: $grey;
        }

        .profile-field-social {
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 10px;
            margin-top: 20px;

            .input-for-labels {
                background-color: $background-color;
                color: $font-color;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid $border-color;
            }
        }

        .profile-buttons {
            display: flex;
            margin-top: 20px;
            gap: 10px;
            justify-content: center;

            .my-profile-submit,
            .my-profile-cancel {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px;
                border-radius: 5px;
                transition: all 0.3s;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        width: 90%;

        .profile-field {
            display: flex;
            flex-direction: row;
            gap: 5px;
            margin-bottom: 15px;
        }

        .profile-field-social {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .buttons-for-profile-section {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-around;
            margin-top: 20px;

            .my-profile-edit,
            .my-profile-logout {
                border: 1px solid $border-color;
                color: $font-color;
                padding: 10px;
                border-radius: 5px;
                transition: all 0.3s;
                font-size: 16px;

                &:hover {
                    background-color: darken($yellow, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .profile {

        .profile-image {
            .profile-pic {
                width: 200px;
                height: 200px;
            }
        }

        .profile-form {
            .profile-field {
                flex-direction: column;
                gap: 10px;

                .biography-area {}

                .input-for-labels {}
            }

            .profile-field-social {
                .input-for-labels {}
            }

            .profile-buttons {
                .my-profile-submit {}

                .my-profile-cancel {}
            }
        }
    }

    .profile-info {
        .profile-field {}

        .profile-field-social {}

        .buttons-for-profile-section {
            .my-profile-edit {}

            .my-profile-logout {}
        }
    }

    .profile-info {
        .profile-field {}

        .profile-field-social {}

        .buttons-for-profile-section {
            .my-profile-edit {}

            .my-profile-logout {}
        }
    }
}

@media screen and (max-width: 850px) {
    .profile {
        .profile-image {
            .profile-pic {
                width: 120px;
                height: 120px;
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .profile {
        width: 95%;
    }
}