@use "../../styles/abstracts/variables" as *;

.adminpanel-settings-page {
    display: flex;
    width: 30%;
    flex-direction: column;
    font-family: $primary-font;
    color: $font-color;
    border-right: 1px solid $border-color;

    .adminpanel-header {
        font-size: 40px;
        padding: 20px;
        font-weight: 400;
        margin: 0px 20px;
        border-bottom: 1px solid $border-color;
    }

    .adminpanel-container {
        display: flex;
        width: 100%;

        .adminpanel-content {
            width: 100%;
            padding: 20px;
            max-height: 1000px;
            overflow: auto;
        }
    }



    .adminpanel-section {
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        padding: 10px;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: $grey;
        }

        &.selected {
            background-color: #f4f4f4;
        }

        .adminpanel-subheader {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .adminpanel-paragraph {
            padding: 5px;
            cursor: pointer;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 650px) {
    .admin-panel-main {
        flex-direction: column;

        .admin-content {
            flex-direction: column;

            .adminpanel-settings-page {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid $border-color;
                max-height: 100%;

                .adminpanel-content {
                    height: auto;
                }

                .admin-sub-setting-page {
                    width: 100%;
                    padding: 10px;
                }

                .adminpanel-section {
                    padding: 5px;
                    margin: 0px;

                    .adminpanel-subheader {
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .adminpanel-paragraph {
                        font-size: 14px;
                        padding: 3px;
                    }
                }

                .adminpanel-content {
                    padding: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .admin-sub-setting-page {
        width: 100%;

        .admin-sub-header {
            margin-bottom: 5px;
            font-size: 26px;
            padding: 5px;
        }

        .admin-sub-panel-content {
            .admin-dashboard-main {
                gap: 5px;

                .dashboard-current-state-all {
                    .dashboard-header {
                        font-size: 20px;
                    }

                    .dashboard-row-inner {
                        gap: 5px;

                        .dashboard-oneline-inner {
                            gap: 5px;
                            padding: 5px;
                            border-radius: 5px;

                            .dashboard-p-header {
                                font-size: 16px;
                            }

                            .dashboard-p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .adminpanel-settings-page {
        padding: 10px;

        .adminpanel-header {
            font-size: 28px;
            padding: 10px;
            margin: 0px 10px;
        }
    }
}