@use "../../styles/abstracts/variables" as *;

.myactive-projects-main {
    width: 33%;
    font-family: "Barlow", sans-serif;

    .active-projects {

        .active-projects-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px;
            flex-wrap: wrap;

        }
    }
}

@media screen and (max-width: 655px) {
    .myactive-projects-main {
        width: 100%;
    }
}