@use "../../styles/abstracts/variables" as *;

.myactive-projects-main {
    width: 100%;
    font-family: "Barlow", sans-serif;
    background-color: $background-color;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    font-family: "Barlow", sans-serif;

    .active-projects {

        .active-projects-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px;
            flex-wrap: wrap;

            .my-active-project-div {
                color: $font-color;

                .my-active-project-list-header {
                    padding: 20px;
                    font-weight: 300;
                }

                .my-active-project-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .my-active-project-list-element {
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .myactive-projects-main {
        width: 100%;
    }
}