@use "../../styles/abstracts/variables" as *;

.myactive-projects-main {
    width: 100%;
    font-family: "Barlow", sans-serif;

    .active-projects {
        .active-projects-header {
            padding: 10px;
            font-weight: 500;
        }

        .active-projects-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px;
            flex-wrap: wrap;

            .project-inside-main {
                width: 100%;
            }

            .active-project {
                width: 240px;
                height: 240px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 10px;
                cursor: pointer;
                border: 1px solid $grey;
                border-radius: 30px;

                .project-name {
                    font-size: 20px;
                }

                .project-photo-active {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    border: 3px solid;
                }

                .project-date {}

                .project-status {}
            }
        }
    }
}