@use "../../styles/abstracts/variables" as *;

.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .login-main-div {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid $border-color;
        width: 500px;
        height: auto;
        padding: 30px;
        transition: all 0.2s;

        &:hover {
            box-shadow: 0px 0px 5px rgb(199, 199, 199);
        }

        .login-logout {
            height: auto;
            width: auto;
            border: 1px solid $border-color;
            border-radius: 5px;
            cursor: pointer;
            padding: 20px;

            &:hover {
                background-color: $grey;
            }
        }

        .login-h1 {
            font-size: 56px;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .password-input-container {
                margin-left: 40px;
                gap: 10px;
                display: flex;
                align-items: center;

                .toggle-password-visibility {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    border: none;
                    border-radius: 50%;

                    .eye-logo {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }

            .error-message {
                color: $font-color;
                padding: 5px;
                font-size: 14px;
            }

            .login-password {
                width: 300px;
                height: 40px;
                border: none;
                padding-left: 10px;
                border-radius: 5px;
                border: 1px solid $border-color;
            }

            .login-email {
                width: 300px;
                height: 40px;
                border: 1px solid $border-color;
                padding-left: 10px;
                border-radius: 5px
            }

            .submits-of-login {
                display: flex;
                gap: 20px;

                .login-submit,
                .login-signup,
                .owner-create-btn {
                    background-color: $background-color;
                    color: $font-color;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid $border-color;
                    transition: all 0.2s;

                    &:hover {
                        background-color: $darkyellow;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .login-main {
        .login-main-div {
            width: 80%;

            .login-h1 {
                font-size: 40px;
            }

            .login-form {
                .login-email {
                    width: 80%;
                }

                .login-password {
                    width: 180px;
                }
            }
        }
    }
}