@use "../../styles/abstracts/variables" as *;

.mylast-act-main {
    width: 60%;
    font-family: $primary-font;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $border-color;
    color: $font-color;
    text-align: center;
    height: 480px;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .mylast-act-ul {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-y: auto;

        .mylast-act-item-desc {
            display: flex;
            font-size: 18px;
            font-weight: 300;
            padding: 10px;
            border-bottom: 1px solid $border-color;
            align-items: center;
            justify-content: space-between;

            .mylast-act-item-date {
                font-size: 16px;
                font-weight: 300;
                padding: 10px;
            }



        }

    }
}

@media screen and (min-width: 768px) {

    .mylast-act-main {
        padding: 10px;

        .mylast-act-item {
            .mylast-act-item-desc {
                font-size: 16px;
            }
        }
    }
}