@use "../../styles/abstracts/variables" as *;

.aboutme-page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    font-size: "Barlow", sans-serif;

    .aboutme-page-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .aboutme-page-main {
        .aboutme-page-row {
            .project-inside-main {
                .projects-sidebar {
                    .projects-list {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .aboutme-page-main {
        .aboutme-page-row {
            flex-direction: column;
        }
    }

}