@use "../../styles/abstracts/variables" as *;

.aboutme-page-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .aboutme-page-column {
        display: flex;
        flex-direction: column;

        .aboutme-row-2 {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .aboutme-page-title {
                transform: translate(110px, 0px);
                width: fit-content;
                font-weight: 400;
                font-size: 40px;
                margin: 20px 20px 20px 40px;
                text-align: left;
            }

            .message-inbox {
                width: 50px;
                height: 50px;
                margin-right: 50px;
                opacity: 0.7;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .aboutme-page-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;
            background-color: $background-color;
            gap: 20px;
            transform: translate(110px, 0px);
            width: calc(100% - 110px);

            .aboutme-page-column-2 {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }


}

@media screen and (max-width: 1250px) {
    .aboutme-page-main {
        .aboutme-page-row {
            .project-inside-main {
                .projects-sidebar {
                    .projects-list {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .aboutme-page-main {
        width: calc(100% - 60px);

        .aboutme-page-column {
            width: 100%;

            .aboutme-page-row {
                flex-direction: column;
                transform: translate(60px, 0px);
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .aboutme-page-main {
        .aboutme-page-column {

            .aboutme-page-row {
                padding: 10px;
                transform: translate(70px, 0px);

                .aboutme-page-column-2 {
                    gap: 5px;

                    .mylast-act-main {
                        padding: 5px;

                        .mylast-act-header {
                            font-size: 24px;
                            padding: 5px;
                        }

                        .mylast-act-item {
                            .mylast-act-ul {
                                .mylast-act-item-desc {
                                    font-size: 14px;
                                    padding: 5px;
                                }
                            }
                        }
                    }

                    .aboutme-page-title {
                        font-size: 28px;
                        transform: translate(140px, 0px);
                        margin: 10px;
                    }
                }
            }
        }
    }
}