@use "../../styles/abstracts/variables" as *;

.project-comments-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    font-family: $primary-font;
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-top: 20px;
    color: $font-color;
    gap: 10px;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .new-revise-create-btn {
        border: 1px solid $border-color;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
            background: $darkyellow;
        }
    }

    .project-comments-table {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        max-height: 350px;
        overflow-y: auto;

        .comment-table-head {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 55px;
            border: 1px solid $border-color;
            border-radius: 5px;

            .comment-table-head-text {
                width: 55%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .comment-table-head-state {
                border-right: 1px solid $border-color;
                width: 15%;
                display: flex;
                justify-content: center;
                padding: 10px;
                align-items: center;
            }

            .comment-table-head-owner {
                width: 15%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .comment-table-head-date {
                width: 15%;
                padding: 15px;
            }
        }

        .project-comment-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            border: 1px solid $border-color;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .project-comment-text {
                display: flex;
                flex-direction: row;
                width: 55%;
                font-size: 18px;
                padding: 15px;
                border-right: 1px solid $border-color;
                display: flex;
                gap: 10px;
                cursor: pointer;
                word-break: break-word; // Uzun kelimelerin satır sonuna gelince kırılmasını sağlar
                white-space: pre-wrap; // Uzun metinlerin taşmasını ve satırların doğru şekilde kırılmasını sağlar

                .edit-pencil-for-revise {
                    width: 20px;
                    height: 20px;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .project-comment-state {
                width: 15%;
                font-size: 18px;
                padding: 15px;
                border-right: 1px solid $border-color;
                word-wrap: break-word;
            }

            .project-comment-owner {
                font-size: 18px;
                padding: 15px;
                width: 15%;
                border-right: 1px solid $border-color;
                word-wrap: break-word;
            }

            .project-comment-date {
                font-size: 16px;
                word-break: break-all;
                padding: 15px;
                width: 15%;
                word-wrap: break-word;
            }
        }
    }

}

@media screen and (max-width: 950px) {
    .project-comments-main {
        width: 100%;
        margin-top: 5px;
        gap: 5px;
        padding: 0px 10px 10px 10px;

        .new-revise-create-btn {
            padding: 5px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 750px) {
    .project-comments-main {
        .project-comments-table {
            .project-comment-item {
                .project-comment-text {
                    font-size: 16px;
                    padding: 5px;
                }

                .project-comment-state {
                    font-size: 16px;
                    padding: 5px;
                }

                .project-comment-owner {
                    font-size: 16px;
                    padding: 5px;
                }

                .project-comment-date {
                    font-size: 14px;
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .project-comments-main {
        .project-comments-table {
            max-height: 200px;
            gap: 5px;
            overflow-y: auto;

            .comment-table-head {

                .comment-table-head-date,
                .comment-table-head-owner,
                .comment-table-head-state,
                .comment-table-head-text {
                    padding: 5px;
                    width: 22%;
                    font-size: 14px;
                }

                .comment-table-head-text {
                    width: 35%;

                }
            }

            .project-comment-item {
                flex-direction: column;

                .project-comment-text {
                    font-size: 14px;
                    padding: 5px;
                    gap: 5px;
                    width: 100%;
                    flex-direction: column;
                }

                .project-comment-state {
                    font-size: 14px;
                    padding: 5px;
                    width: 100%;
                }

                .project-comment-owner {
                    font-size: 14px;
                    padding: 5px;
                    width: 100%;
                }

                .project-comment-date {
                    font-size: 12px;
                    padding: 5px;
                    width: 100%;
                }
            }
        }
    }
}