@use "../../styles/abstracts/variables" as *;

.project-comments-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-family: $primary-font;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-top: 20px;
    color: $font-color;
    max-height: 400px;
    overflow-y: scroll;

    .project-comments-h2 {
        padding: 10px;
        width: 100%;
        font-size: 30px;
        color: $font-color;
        text-align: center;
        font-weight: 300;
    }

    .project-comments-table {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .comment-table-head {
            display: flex;
            flex-direction: row;
            width: 100%;
            border: 1px solid $border-color;
            border-radius: 5px;

            .comment-table-head-text {
                width: 70%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .comment-table-head-state {
                width: 15%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .comment-table-head-owner {
                width: 15%;
                padding: 15px;
            }
        }

        .project-comment-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            border: 1px solid $border-color;
            border-radius: 5px;

            .project-comment-text {
                width: 70%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .project-comment-state {
                width: 15%;
                padding: 15px;
                border-right: 1px solid $border-color;
            }

            .project-comment-owner {
                padding: 15px;
                width: 15%;
            }
        }
    }

}

@media screen and (max-width: 950px) {
    .project-comments-main {
        width: 100%;
        margin-top: 10px;

        .project-comments-h2 {
            font-size: 22px;
            padding: 5px;
            margin: 5px;
        }
    }
}