@use "../../styles/abstracts/variables" as *;

.new-revise-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .revise-modal-content {
        background: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        color: $font-color;

        .new-revise-modal-header {
            padding: 10px;
            width: 100%;
            font-size: 30px;
            text-align: center;
            font-weight: 300;
        }

        .new-revise-modal-form {
            display: flex;
            flex-direction: column;
            text-align: left;

            .new-revise-buttons-div {
                display: flex;
                justify-content: space-evenly;

                .new-revise-submit-btn,
                .new-revise-submit-cancel {
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid $border-color;
                    transition: all 0.2s;
                    padding: 10px 20px;
                    border-radius: 5px;
                }

                .new-revise-submit-cancel {
                    &:hover {
                        background: darken($yellow, 10%);
                    }
                }

                .new-revise-submit-btn {
                    &:hover {
                        background: darken($blue, 10%);
                        color: white;
                    }
                }
            }

            .new-revise-modal-input {
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid $border-color;
                border-radius: 10px;
                height: 200px;
            }

            .new-revise-checkbox-div {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                gap: 20px;

                .new-revise-div-one {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }

                    label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .new-revise-modal {
        .revise-modal-content {
            width: 90%;

            .new-revise-modal-header {
                font-size: 28px;
            }

            .new-revise-modal-form {
                .new-revise-modal-input {
                    height: 100px;
                }

                .new-revise-checkbox-div {
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 5px;
                }
            }
        }
    }

}