@use "../../styles/abstracts/variables" as *;

.folder-content {
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .file-input-wrapper {
        width: 150px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: darken($background-color, 10%);
        }

        .file-input {
            display: none;
        }

        .custom-file-upload {}
    }

    .file-folder-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        width: 150px;
        height: 190px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid $border-color;
        border-radius: 15px;
        transition: all 0.2s;

        &:hover {
            background-color: darken($background-color, 10%);
        }

        .file-icon-img {
            width: 100px;
            height: auto;
        }

        .file-name {
            font-size: 18px;
            word-break: break-word;
        }
    }
}