@use "../../styles/abstracts/variables" as *;

.project-teams-container {
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-top: 20px;

    .admin-buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        gap: 20px;

        .add-team-btn {
            padding: 10px;
            width: 140px;
            height: 50px;
            margin: 10px;
            border: 1px solid $border-color;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 400;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            &:active {
                background-color: darken($background-color, 20%);
            }
        }

        .delete-team-btn {
            padding: 10px;
            width: 140px;
            height: 50px;
            margin: 10px;
            border: 1px solid $border-color;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 400;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            &:active {
                background-color: darken($background-color, 20%);
            }
        }
    }


    .teams-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        gap: 20px;
        padding: 20px;
        width: 100%;
    }

    .team-card {
        background-color: $background-color;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;

        .team-title {
            font-size: 18px;
            margin: 10px 0;
            font-weight: 500;
            color: $font-color;
        }

        .team-images {
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .employees-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        gap: 20px;
        padding: 20px;
        width: 100%;

        .employee-card {
            border: 1px solid $border-color;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darken($background-color, 10%);
            }

            &:active {
                background-color: darken($background-color, 20%);
            }

            .profile-pic {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto 10px;

                .profile-pic-inner {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .employee-info {
                .employee-info-username {
                    font-size: 18px;
                    margin: 10px 0;
                    font-weight: 400;
                }

                .employee-info-professionName {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }



}