@use "../../styles/abstracts/variables" as *;

.groups-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    font-family: $primary-font;
    color: $font-color;

    .groups-main-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translate(110px, 0px);
        width: calc(100% - 110px);

        .groups-main-header-and-input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .search-input {
                width: 300px;
                height: 40px;
                margin-right: 40px;
                border-radius: 15px;
                border: 1px solid $border-color;
                padding: 10px;
            }

            .groups-main-header {
                font-size: 40px;
                font-weight: 400;
                margin: 20px 20px 20px 40px;
                text-align: left;
                width: fit-content;
                color: $font-color;
            }
        }

        .groups-x-all {
            display: flex;
            flex-direction: row;

            .project-groups {
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                color: $font-color;

                .project-group-add-group {
                    padding: 20px;
                    max-height: 240px;
                    text-align: center;
                    border-radius: 10px;
                    border: 1px solid $border-color;
                    cursor: pointer;
                    font-weight: 400;
                    transition: all 0.2s;

                    &:hover {
                        background-color: darken($background-color, 10%);
                    }
                }

                .project-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid $border-color;
                    padding: 15px;
                    max-height: 75px;
                    text-align: center;
                    border-radius: 10px;
                    cursor: pointer;
                    gap: 20px;
                    transition: all 0.2s;

                    .file-card-delete-btn {
                        width: 20px;
                        opacity: 0.7;
                        transition: all 0.2s;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .file-card-edit-btn {
                        width: 20px;
                        opacity: 0.7;
                        transition: all 0.2s;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .group-image {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    .relevant-project-header {
                        font-size: 18px;

                        font-weight: 400;
                    }

                    &:hover {
                        background-color: $grey;
                    }
                }
            }
        }



    }
}

@media screen and (max-width: 950px) {
    .groups-main {
        .groups-main-column {
            transform: translate(80px, 0px);
            width: calc(100% - 80px);

            .groups-main-header-and-input {
                flex-direction: column;
                margin: 0px;

                .search-input {
                    width: 80%;
                    margin: 0px;
                }

                .groups-main-header {
                    font-size: 35px;
                    margin: 10px;
                }
            }

            .group-div-row {
                display: flex;
                flex-direction: column;

                .project-groups {
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .project-group {
                        width: 210px;
                        gap: 10px;
                        padding: 5px;

                        .group-image {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .groups-main {
        .group-div-row {
            flex-direction: column;

            .project-groups {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .groups-main {
        .groups-main-column {
            gap: 10px;

            .group-div-row {
                .project-groups {
                    gap: 4px;
                    padding: 0px;
                    justify-content: flex-start;

                    .project-group {
                        width: 45%;
                        gap: 5px;

                        .group-image {
                            display: none;
                        }

                        .file-card-edit-btn,
                        .file-card-delete-btn {
                            width: 15px;
                        }

                        .relevant-project-header {
                            font-size: 14px;
                        }
                    }

                    .project-group-add-group {
                        padding: 5px;
                        font-size: 14px;
                    }
                }
            }

            .groups-main-header-and-input {
                .groups-main-header {
                    font-size: 28px;
                }

                .search-input {
                    font-size: 14px;
                    height: 30px;
                }
            }
        }
    }
}