@use "../../styles/abstracts/variables" as *;

.groups-main {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    height: 100vh;
    color: $div-color;
    font-family: "Barlow", sans-serif;

    .groups-main-header {
        background-color: $div-color;
        width: 150px;
        color: $grey;
        border: none;
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        margin: 20px;
    }

    .group-div-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .project-groups {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;
            flex-wrap: wrap;

            .project-group {
                display: flex;
                flex-direction: row;
                border: none;
                width: 350px;
                height: 80px;
                text-align: center;
                background-color: $grey;
                padding: 10px;
                cursor: pointer;
                border-radius: 20px;
                gap: 10px;

                .group-image {
                    width: 60px;
                    height: 60px;
                }

                .project-group-header {
                    font-size: 20px;
                    font-weight: 600;
                    color: $div-color;
                    padding: 5px
                }

                .relevant-project-header {
                    font-size: 20px;
                    color: $div-color;
                    padding: 5px;
                    font-weight: 500;
                }

                .project-group-members {
                    .project-group-member-header {
                        color: $div-color;
                        padding: 5px
                    }

                    .project-group-list {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        justify-content: center;
                        margin-top: 20px;

                        .group-list-element {
                            background: $grey;
                            border: 1px solid $grey;
                            padding: 1px;
                            margin: 5px;
                            text-align: center;
                            width: 25px;
                        }

                        .slick-slide {
                            padding: 10px;
                            width: 25px;

                            &.slick-active {
                                width: 25px;
                            }

                            &.slick-current {
                                width: 25px;
                            }
                        }
                    }
                }
            }

            :hover {
                background-color: darken($grey, 10%);
            }

            :active {
                background-color: darken($grey, 20%);
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .groups-main {
        .group-div-row {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .project-groups {
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;

                .project-group {
                    display: flex;
                    flex-direction: row;
                    border: none;
                    width: 285px;
                    height: 58px;
                    text-align: center;
                    background-color: #f4f4f4;
                    padding: 7px;
                    cursor: pointer;
                    border-radius: 20px;
                }
            }
        }
    }
}