@use "../../styles/abstracts/variables" as *;

.project-process-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    padding: 20px;
    font-family: $primary-font;
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-top: 20px;
    color: $font-color;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .project-completed {
        color: green;
        font-weight: 500;
    }

    .project-process-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .project-process-p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .project-process-input-box {
            width: 80%;
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 5px;
        }

        .project-process-submit-button {
            border: 1px solid $border-color;
            padding: 10px 20px;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                background-color: darken($yellow, 10%);
            }
        }
    }

    .project-percentage {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .progress-bar-container {
        width: 100%;
        background-color: #f3f3f3;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;

        .progress-bar {
            height: 25px;
            background-color: #4caf50;
            line-height: 25px;
            color: white;
            text-align: center;
            border-radius: 5px 0 0 5px;
            transition: width 0.3s;
        }
    }
}

@media screen and (max-width: 950px) {
    .project-process-main {
        width: 100%;
        padding: 10px;
        margin: 0px;
        gap: 0px;

        .project-percentage {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .progress-bar-container {
            margin-bottom: 5px;
        }

        .project-process-input {
            gap: 5px;

            .project-process-input-box {
                padding: 5px;
            }

            .project-process-submit-button {
                padding: 5px 10px;
                font-size: 16px;
            }

            .project-process-p {
                font-size: 16px;
                margin: 0px;
            }
        }
    }
}