@use "../../styles/abstracts/variables" as *;

.project-section-main {
    width: 100%;
    font-family: "Barlow", sans-serif;

    .projects-page-content-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $background-color;
        border-radius: 20px;

        .header-with-back-button {
            display: flex;

            .back-button {
                padding: 20px;
                color: $grey;
            }
        }

        .active-project-title {
            width: fit-content;
            padding: 10px;
            margin: 10px;
            background-color: $background-color;
            color: $grey;
            font-weight: 400;
            border-radius: 15px;
        }

        .active-project-tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: $background-color;

            .active-project-btn {
                border-radius: 15px;
                padding: 10px;
                margin: 10px;
                width: 100%;
                font-size: 30px;
                background-color: $grey;
                color: $font-color;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .project-section-main {
        .projects-page-content-header {
            .active-project-title {
                font-size: 20px;
            }

            .active-project-tabs {
                .active-project-btn {
                    font-size: 20px;
                }
            }
        }
    }
}