@use "../../../styles/abstracts/variables" as *;

body {
    background-color: white;
    color: $font-color;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: white;
}