@use "../../styles/abstracts/variables" as *;

.admin-dashboard-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: $primary-font;
    color: $font-color;

    .dashboard-current-state-all {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .dashboard-row-inner {
            display: flex;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;

            .dashboard-oneline-inner {
                display: flex;
                flex-direction: column;
                border: 1px solid $border-color;
                border-radius: 5px;
                padding: 15px;
                gap: 10px;

                .dashboard-p {
                    font-weight: 400;
                }

                .dashboard-p-header {
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }

    .dashboard-last-activities {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid $border-color;
        border-radius: 15px;

        .dashboard-act-header {
            font-weight: 400;
            border-bottom: 1px solid $border-color;
            padding-bottom: 10px;
        }

        .dashboard-act-p {
            font-size: 18px;
            padding: 5px;
        }

        .dashboard-bold-name {
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 450px) {
    .admin-dashboard-main {
        .dashboard-last-activities {
            gap: 3px;
            padding: 5px;
            border-radius: 5px;

            .dashboard-act-header {
                font-size: 18px;
                margin: 0px;
                padding-bottom: 5px;
            }

            .dashboard-act-p {
                font-size: 14px;
                padding: 2px;
            }
        }
    }
}