@use "../../styles/abstracts/variables" as *;

.admin-dashboard-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: $primary-font;
    color: $font-color;

    .dashboard-current-state-all {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .dashboard-header {
            font-weight: 400;
        }

        .dashboard-row-inner {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;

            .dashboard-oneline-inner {
                display: flex;
                flex-direction: column;
                border: 1px solid $border-color;
                border-radius: 15px;
                padding: 10px;
                gap: 10px;

                .dashboard-p {
                    font-weight: 400;
                }
            }
        }
    }

    .dashboard-last-activities {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid $border-color;
        border-radius: 15px;

        .dashboard-act-header {
            font-weight: 400;
            border-bottom: 1px solid $border-color;
            padding-bottom: 10px;
        }

        .dashboard-act-p {
            font-size: 18px;
        }
    }
}