@use "../../styles/abstracts/variables" as *;

.admin-support-settings-main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .support-div {
        display: flex;
        flex-direction: column;
        border: 1px solid $border-color;
        padding: 10px;
        border-radius: 15px;

        .support-div-header {
            font-size: 24px;
            font-weight: 400;
            padding: 10px;
            border-bottom: 1px solid $border-color;
        }

        .support-div-p {
            font-size: 18px;
            font-weight: 400;
            padding: 10px;
        }

        .support-div-question {
            font-size: 20px;
            font-weight: 500;
            padding: 10px;
        }

        .support-div-answer {
            font-size: 18px;
            font-weight: 400;
            padding: 10px;
        }
    }
}