@use "../../styles/abstracts/variables" as *;

.admin-company-settings-main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .admin-company-inner {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        border: 1px solid $border-color;
        border-radius: 15px;

        .admin-company-header {
            font-size: 24px;
            font-weight: 400;
            padding: 10px;
            border-bottom: 1px solid $border-color;
        }

        .admin-company-p {
            font-size: 20px;
            font-weight: 400;
            padding: 10px;
        }

        .company-logo-img {
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 400;
            width: 250px;
        }
    }
}