@use "../../styles/abstracts/variables" as *;

.admin-user-settings-main {
    display: flex;
    flex-direction: column;

    .admin-send-message-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 800px;
        overflow-y: auto;

        .user-storage-gb-div {
            padding: 20px;
            border: 1px solid $border-color;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .user-storage-gb-h2 {
                font-size: 24px;
                font-weight: 400;
            }

            .user-storage-gb-inner {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                padding: 15px;
                flex-wrap: wrap;

                .user-storage-gb-one-div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 5px 15px 5px 5px;
                    border-right: 1px solid $border-color;
                    text-align: center;

                    .user-storage-username {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .user-storage-userstorage {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        .projects-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
            border: 1px solid $border-color;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .projects-codes-h2 {
                font-size: 24px;
                width: 100%;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .projects-list-one-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                border-right: 1px solid $border-color;
                padding: 10px;
                gap: 5px;
                max-width: 150px;
                max-height: 100px;
                overflow-y: auto;

                .project-list-projectname {
                    font-size: 18px;
                    font-weight: 400;
                }

                .project-list-projectPassword {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .user-set-one-div {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid $border-color;
            gap: 10px;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0px 0px 5px rgb(199, 199, 199);
            }

            .set-one-header {
                font-size: 24px;
                font-weight: 400;
            }

            .user-role-permission-div {
                display: flex;
                gap: 20px;
                align-items: center;

                .user-search-label {

                    .user-search-for-role {
                        width: 250px;
                        height: 40px;
                        border-radius: 5px;
                        border: 1px solid $border-color;
                        padding: 10px;
                    }
                }

                .search-role-select {
                    border: 1px solid $border-color;
                    padding: 10px;
                    border-radius: 5px;

                    .option-class-for-role {}
                }

                .role-permission-button {
                    border: 1px solid $border-color;
                    padding: 10px 20px;
                    border-radius: 5px;
                    transition: all 0.2s;
                    width: 200px;

                    &:hover {
                        background-color: $darkyellow;
                    }
                }
            }

            .delete-user-label {
                font-size: 18px;

                .delete-user-input {
                    width: 250px;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid $border-color;
                    padding: 10px;
                }
            }

            .delete-user-button {
                border: 1px solid $border-color;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.2s;
                width: 200px;

                &:hover {
                    background-color: $darkyellow;
                }
            }

            .searched-user-for-deletion {
                display: flex;
                flex-direction: row;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;

                .to-be-deleted-user-div {

                    .to-be-label {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;
                        text-align: center;

                        .to-be-deleted-user-checkbox {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .admin-user-settings-main {
        .admin-send-message-inner {
            gap: 5px;
            max-height: 400px;

            .user-storage-gb-div {
                padding: 5px;

                .user-storage-gb-inner {
                    padding: 5px;
                    gap: 2px;

                    .user-storage-gb-one-div {
                        padding: 5px;

                        .user-storage-username {
                            font-size: 14px;
                        }
                    }
                }

                .user-storage-gb-h2 {
                    font-size: 18px;
                }
            }

            .user-set-one-div {
                padding: 5px;
                gap: 5px;

                .delete-user-button {
                    padding: 5px;
                    font-size: 16px;
                }

                .delete-user-label {
                    .delete-user-input {
                        padding: 5px;
                    }
                }

                .searched-user-for-deletion {
                    justify-content: unset;
                    gap: 5px;

                    .to-be-deleted-user-div {
                        .to-be-label {
                            gap: 5px;
                            font-size: 16px;
                        }
                    }
                }

                .user-role-permission-div {
                    gap: 5px;
                    flex-wrap: wrap;

                    .role-permission-button {
                        padding: 5px 10px;
                        width: 125px;
                        font-size: 16px;
                    }

                    .search-role-select {
                        padding: 5px;
                    }

                    .user-search-label {
                        .user-search-for-role {
                            padding: 5px;
                        }
                    }
                }

                .set-one-header {
                    font-size: 18px;
                }
            }

            .projects-list {
                gap: 5px;
                padding: 5px;

                .projects-list-one-div {
                    max-width: 128px;
                    padding: 5px;

                    .project-list-projectname {
                        font-size: 16px;
                    }
                }

                .projects-codes-h2 {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}