@use "../../styles/abstracts/variables" as *;

.admin-group-settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $border-color;
    gap: 10px;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 0px 5px rgb(199, 199, 199);
    }

    .admin-group-header {
        font-size: 24px;
        width: 100%;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .admin-group-codes-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .admin-group-code {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-right: 1px solid $border-color;
            padding: 10px;
            gap: 5px;
            max-width: 150px;
            max-height: 100px;
            overflow-y: auto;

            .admin-group-code-name {
                font-size: 18px;
                font-weight: 400;
            }

            .admin-group-code-value {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .admin-group-settings {
        padding: 5px;
        gap: 5px;

        .admin-group-header {
            font-size: 18px;
            margin-bottom: 0px;
        }

        .admin-group-codes-div {
            gap: 5px;

            .admin-group-code {
                max-width: 128px;
                padding: 5px;

                .admin-group-code-name {
                    font-size: 16px;
                }

                .admin-group-code-value {
                    font-size: 14px;
                }
            }
        }
    }

}