@use "../../styles/abstracts/variables" as *;

.homepage-main {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  font-family: $primary-font;
  color: $font-color;

  .homepage-column {
    display: flex;
    flex-direction: column;
    transform: translate(110px, 0px);
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 950px) {
  .homepage-main {
    .homepage-column {
      transform: translate(60px, 0px);
    }
  }
}